<h1>Контакты</h1>
<<<<<<< HEAD
<p>Здесь будет страница с контактами</p>
=======
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
>>>>>>> 8adbfd01adea0faa6f90607536fadbebad05885b
