<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
	  	<div class="container">
	    	<%= link_to "Главная", '#', id: "logo" %>
	    	<nav>
	      	<ul class="nav pull-right">
	        	<li><%= link_to "Главная",    '#' %></li>
	        	<li><%= link_to "Помощь",    '#' %></li>
	        	<li><%= link_to "Sign in", '#' %></li>
	      	</ul>
	    	</nav>
	  	</div>
		</div>
	</header>